
<div class="header">
    <div class="logo-container">
      	<img class="logo-img" src={{url_for('static', filename="img/icon.png")}} alt="GIPO-weather" width="65" height="65">
      	<div class="logo-text">GIPO-weather</div>
  	</div>
  	<div class="search-wrapper">
        <div class="search-placeholder">
            <input class="search-input" id="sr-input" type="text" name="" placeholder="Город или район">
            <div class="search-button-placeholder">
                <button class="search-button" id="sr-button" type="submit">
                    <img class="sb-img" src="{{url_for("static", filename="img/search.png")}}">
                </button>
            </div>
        </div>
    </div>
</div>