<!DOCTYPE html>
<html lang="en">

<head>
  <title>GIPO - maps</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/mappa-mundi@0.0.4"></script>
    <script src={{url_for('static', filename='js/jquery.js')}}></script>
    <script src={{url_for('static', filename='js/mappa-test.js')}}></script>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/template" id="popup-template">
        {% include 'popup.html' %}
    </script>
</head>
<body>
<div class="header">
    <div class="logo-container">
          <img class="logo-img" src={{url_for('static', filename="img/logo.svg")}} alt="GIPO-weather" width="65" height="65">
          <div class="logo-text">GIPO-weather</div>
    </div>
</div>
<div class="map-wrapper">
    <div id="mapid"></div>
</div>
</body>
</html>